.page-component-wrap {
  padding: 32px;
}
.card {
  flex: 1 1 auto;
}
.card {
  margin-bottom: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  position: relative;
  background-color: #fff;
  border-radius: 0.428rem;
  box-shadow: 0 4px 24px #22292f1a;
  .card-header {
    border-bottom: none;
    padding: 1.5rem;
    background-color: transparent;
  }
  .card-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-body {
    padding: 1.5rem;
  }
}
.font-small-2 {
  font-size: 0.8rem;
}
.font-small-3 {
  font-size: 0.9rem;
}

.el-row{
  >[class*=col]{
    display: flex;
  }
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
margin-bottom: .5rem;
margin-top: 0;
}
